.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


    .content-body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1000px;
        flex-direction: row;
    }

    .about-container1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        width: 500px;
        gap: 1em;
        

        .row3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 1em;
            border: 1px solid rgb(186, 186, 186);
            border-radius: 10px;
            
            .phone-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 40%;
            }

            .email-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60%;
                height: 60%;
            }
        }
    }

    .phone-container {
        width: 120px;

        .phone-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .email-container {
        width: 120px;

        .email-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .about-container2 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        font-size: 20px;
        width: 500px;


        .row1 {
            display: flex;
            justify-content: flex-start;
            
            align-items: center;
            width: 100%;
            min-height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 1em;
            border: 1px solid rgb(186, 186, 186);
            border-radius: 10px;
            

            .info-icon {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 30%;
                height: 30%;
                transition: transform 0.3s ease-in-out;


            }


        }
    }

    .about-container3 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        font-size: 20px;
        width: 500px;

        .row1 {
            display: flex;
            justify-content: flex-start;
            gap: 2em;
            align-items: center;
            width: 100%;

            .profile-img {
                width: 200px;
                height: 200px;
                display: block;
            }
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 68px;
    transform: rotate(-90deg);
    border-bottom: 5px solid white;
    text-shadow: 0 0 3px black;
}