.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


    .content-body1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1000px;
        gap: 8em;
        
        
    }

    .about-container1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        width: 500px;
        
        

        .row1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
            
            .phone-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 40%;
                transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            }

            .email-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60%;
                height: 60%;
                transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            }
        }
    }

    .phone-container {
        width: 100px;

        .phone-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .email-container {
        width: 100px;

        .email-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .about-container2 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        font-size: 14px;
        width: 1000px;


        .row-projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            align-items: flex-start;
            width: 300px;
            height: 300px;
            padding: 1em;
            background-color: rgba(255, 255, 255, 0.2);
            
            border: 1px solid rgb(186, 186, 186);
            border-radius: 10px;
            

            .project-title {
                transition: 1s ease-in-out;
                font-size: 20px;
                font-weight: 700;
            }
            .project-text {
                transition: 1.5s ease-in-out;
                font-size: 16px;
            }


        }

        .row-projects-icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            height: auto;
            padding: 1em;
            gap: 1em;
           
            
            .git-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 30%;
                transition: transform 0.3s ease-in-out;
                
      
                &:hover {
                  transform: translateY(-10%);
              border-bottom: 2px inset rgba(240,240,240,0.5);
                }
            
            }

            .web-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 30%;
                transition: transform 0.3s ease-in-out;
                
      
                &:hover {
                  transform: translateY(-10%);
              border-bottom: 2px inset rgba(240,240,240,0.5);
                }
            
            }

        }
    }

    .about-container5 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        font-size: 20px;
        width: 500px;

        .row5 {
            display: flex;
            justify-content: flex-start;
            
            align-items: center;
            width: 100%;

            .swiper {
               
                width: 500px;
                height: 250px;
                padding: 50px;

                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 300px;
                    height: 230px;
                  }
                  
                  .swiper-slide img {
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                  }
                

                .swiper-button-next,
.swiper-button-prev {
  color: black;
}

.swiper-pagination-bullet {
    background-color: black;
  }
  
  /* Change the color of the active pagination bullet */
  .swiper-pagination-bullet-active {
    background-color: white;
  }
  
  /* Change the color of the pagination bullet icons (if using icons) */
  .swiper-pagination-bullet-icon {
    color: black;
  }
              }
              
              
            

            .profile-img {
                width: 200px;
                height: 200px;
                display: block;
            }
        }
    }

    button {
        max-width: 50%;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid rgb(172, 172, 172);
        transition: transform 0.1s ease-in-out;
        cursor: none;

        &:hover {
            color: rgba(134, 133, 133, 0.8);
            transform: translateY(-10%);


        }
    }
}

h2 {
    font-weight: 700;
    font-size: 68px;
    transform: rotate(-90deg);
    border-bottom: 5px solid white;
    text-shadow: 0 0 3px black;
}